<!DOCTYPE HTML>
<html>
	<head>
		<title>Weather App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
					<nav id="nav">
						<a href="#" class="icon solid fa-home"><span>Home</span></a>
						<a href="#work" class="icon solid fa-folder"><span>Work</span></a>
						<a href="#contact" class="icon solid fa-envelope"><span>Contact</span></a>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Home -->
							<article id="home" class="panel intro">
								<header>
									<h1>Jan Krzyżanowski</h1>
									<p>Weather App Website</p>
								</header>
								<a href="#work" class="jumplink pic">
									<span class="arrow icon solid fa-chevron-right"><span>Add your phone</span></span>
									<img src="static/images/me.jpg" alt="" />
								</a>
							</article>

						<!-- App -->
							<article id="work" class="panel">
								<header>
									<h2>Work</h2>
								</header>
								<form method="POST" action="{{ url_for('form') }}" novalidate>
                                    {{ form.csrf_token }}
                                    <p>{{ form.phone_number.label }} {{ form.phone_number(size=12) }}</p>

                                    <p>{{ form.city_code.label }} {{ form.city_code(size=12) }}</p>

                                    <p>{{ form.flag }}</p>

                                    <input type="submit" value="Submit">
                                </form>

							</article>

						<!-- list -->
							<article id="contact" class="panel">
								<header>
									<h2>Contact Me</h2>
								</header>
                                <ul>
                                {% for call in list %}
						        <li> Phone Number: {{ call.phone_number }}, City Code: {{ call.city_code }}</li>
                                {% endfor %}
                                </ul>
							</article>

					</div>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>